body{
	text-align: center;
	display: block;
	margin-top: 20%;
	background: rgb(104,113,255);
	background: linear-gradient(90deg, rgba(104,113,255,1) 0%, rgba(243,148,255,1) 100%);
}

#color1{

}

#color2{
	
}